[*.cs]

# CS8601: Possible null reference assignment.
dotnet_diagnostic.CS8601.severity = silent

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = silent

# CS8602: Possible null reference argument.
dotnet_diagnostic.CS8602.severity = silent

# CS8604: Possible null reference argument.
dotnet_diagnostic.CS8604.severity = silent

# CS8606: Possible null reference argument.
dotnet_diagnostic.CS8606.severity = silent
