
#---------------------------------#
#      general configuration      #
#---------------------------------#

version: 3.2.{build}-{branch}

#---------------------------------#
#    environment configuration    #
#---------------------------------#

image: Visual Studio 2017

#branches:
#  only:
#  - master

# Start builds on tags only (GitHub and BitBucket)
# skip_non_tags: true
skip_tags: true

#---------------------------------#
#       build configuration       #
#---------------------------------#

platform: Any CPU

configuration: Release

before_build:
- nuget restore

build:
  project: unp4k.sln
  parallel: true
  verbosity: minimal

after_build:
- copy src\unp4k\bin\Release\net47\win-x64\unp4k.exe src\unp4k.gui\bin\Release\unp4k.exe
- erase *.pdb /s
- erase *.exe.config /s
- erase *.xml /s
- erase System.Net.Http.dll /s

#---------------------------------#
#      artifacts configuration    #
#---------------------------------#

artifacts:
  # backaging all tools
  - path: src\unp4k.gui\bin\$(configuration)
    name: unp4k-tools

deploy:
  provider: GitHub
  auth_token:
    secure: Yi3KGQnx6Ui4ise0Dss0CRYo4FXHnN9xqWfol7mbKk13e13QDPQgNVfjPHGAg0ec
  artifact: /.*\.zip/
  draft: false
  prerelease: false
  tag: v$(APPVEYOR_BUILD_VERSION)
  release: unp4k Tools for Star Citizen
  description: View [ReadMe](https://github.com/dolkensp/unp4k/blob/master/README.md) for more instructions.
  on:
    branch: master